@import "../../index";

nav {
  background-color: $main;
  a {
    text-decoration: none;
  }
  .p-button {
    background-color: white;
    color: black;
    font-weight: 500;
    border: $border;
    transition: 0.25s;
    &:hover {
      background-color: $main !important;
      color: black !important;
      border: $border !important;
    }
  }
}